
.vs/WfrmQLXEKHACH/v16/.suo
.vs/WfrmQLXEKHACH/v16/.suo
XemVe_Test/bin/Debug/XemVe_Test.dll
XemVe_Test/bin/Debug/XemVe_Test.pdb
XemVe_Test/NUnit_XemVe.cs
XemVe_Test/obj/Debug/XemVe_Test.csproj.AssemblyReference.cache
XemVe_Test/obj/Debug/XemVe_Test.csproj.CoreCompileInputs.cache
XemVe_Test/obj/Debug/XemVe_Test.csproj.FileListAbsolute.txt
XemVe_Test/obj/Debug/XemVe_Test.dll
XemVe_Test/obj/Debug/XemVe_Test.pdb
